.hero::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    360deg,
    rgba(11, 29, 38, 255),
    transparent 55%
  );
  z-index: 50;
}

.tour-main {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 99%;
  object-fit: cover;
}
